<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192048832941-dtva8dm0dg64158fd93t1ohd1aa800va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192048832941-dtva8dm0dg64158fd93t1ohd1aa800va</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>192048832941-ptvniigtd7nkghp8pfm9bk2crhvtd4tc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgu7t1BITdnL1j9gHqPX4nKeBQ8BxckgA</string>
	<key>GCM_SENDER_ID</key>
	<string>192048832941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chat.hivemind</string>
	<key>PROJECT_ID</key>
	<string>thehive-rocketchatrn</string>
	<key>STORAGE_BUCKET</key>
	<string>thehive-rocketchatrn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192048832941:ios:b2ab22e09f957c85584124</string>
	<key>DATABASE_URL</key>
	<string>https://thehive-rocketchatrn.firebaseio.com</string>
</dict>
</plist>